 
 html,body {
    margin: 0;
    padding: 0;
    
    overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    
    background: hsla(120,60%,70%,0.3); /* Fallback for when there is no custom background color defined. */

     
}

#page{
    display:none;
}
#loading{
    display:block;
}